
{% block content %}
    <header class="w-100" style="background: #93a996; height: auto; position: relative;">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a href="/" class="text-decoration-none">
                <h1 class="text-right text-white mb-0">Money conversion</h1>
            </a>
            <a href="/catalogo" class="d-flex align-items-center text-decoration-none">
                <span class="text-left text-white mb-0">Catalogo</span>
            </a>
        </div>
    </header>
{% endblock %}