{% block content %}
    <header class="w-100" style="background: #93a996; height: auto; position: relative;">
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <h1 class="text-center text-white">Benvenuto nel sito di Conversione Monetaria</h1>
        </div>
    </header>

{% endblock %}