{% block content %}
    <header class="w-100" style="background: #93a996; height: auto; position: relative;">
        <div class="container-fluid d-flex justify-content-start align-items-center">
            <a href="/" class="text-decoration-none">
                <h1 class="text-left text-white">Money conversion</h1>
            </a>
        </div>
    </header>
{% endblock %}