{% extends 'base.html.twig' %}

{% block title %}Money conversion - Differenza{% endblock %}

{% block content %}


    <!-- Main Content -->
    <div class="container my-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <a href="/somma" style="background:#93a996; border:none" class="btn btn-primary mb-3 w-50">Somma</a>
            <a href="/sottrazione" style="background:#93a996; border:none" class="btn btn-primary mb-3 w-50">Sottrazione</a>
            <a href="/moltiplicazione" style="background:#93a996; border:none" class="btn btn-primary mb-3 w-50">Moltiplicazione</a>
            <a href="/divisione" style="background:#93a996; border:none" class="btn btn-primary mb-3 w-50">Divisione</a>
        </div>
    </div>
{% endblock %}
