{% extends 'base.html.twig' %}

{% block title %}Home - Money conversion{% endblock %}

{% block content %}


    <!-- Main Content -->
    <div class="container my-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <a href="/somma" class="btn btn-primary mb-3 w-50">Somma</a>
            <a href="/sottrazione" class="btn btn-primary mb-3 w-50">Sottrazione</a>
            <a href="/moltiplicazione" class="btn btn-primary mb-3 w-50">Moltiplicazione</a>
            <a href="/divisione" class="btn btn-primary mb-3 w-50">Divisione</a>
        </div>
    </div>
{% endblock %}
